$primary: #093e20;
$primary100: #093e20;
$primaryDark: #043519;
$primaryLight: #1B6C3E;

$secondary: #009863;
$secondaryDark: #008B5B;
$secondaryLight: #00AE71;

$defaultButton: #093e20;

$error: #FF413A;
$errorDark: #af2e29;
$errorLight: #ec4333;

$warning: #f4a100;
$warningDark: #e29b0c;
$warningLight: #f6b333;

$info: #3E66FB;
$infoDark: #3555c7;
$infoLight: #64b5f6;

$success: #00ac69;
$successDark: #0da76c;
$successLight: #33bc87;

$grey300: #425466;
$dark: #343a40;

$bg100: #f8f8f9;

// Text Colors

//$textPrimary: #69707a;
//$textSecondary: #4a515b;
//$textDark: #212832;
//$textHint: #00000061;

$textPrimary: #242c3a;
$textSecondary: #000000;
$textDark: #12171e;
$textHint: #9798a1;

// Text Dark Color
$textDarkPrimary: #bbc0c7;
$textDarkSecondary: #babfc9;
$textDarkDark: #fff;
$texDarkHint: #94919161;

// Background Color
$backgound: #f0f2f8;
$backgoundDark: #181e2b;

// Paper Color
$paper: #ffffff;
$paperDark: #0D2417;

$menuHover: #61bb9b2a;

// this will use in javascript
:export {
    primary: $primary;
    primaryDark: $primaryDark;
    primaryLight: $primaryLight;
    primary100: $primary100;

    secondary: $secondary;
    secondaryDark: $secondaryDark;
    secondaryDark: $secondaryDark;

    defaultButton: $defaultButton;

    error: $error;
    errorDark: $errorDark;
    errorLight: $errorLight;

    warning: $warning;
    warningDark: $warningDark;
    warningLight: $warningLight;

    info: $info;
    infoDark: $infoDark;
    infoLight: $infoLight;

    success: $success;
    successDark: $successDark;
    successLight: $successLight;

    grey300: $grey300;

    bg100: $bg100;

    // Text Colors
    textPrimary: $textPrimary;
    textSecondary: $textSecondary;
    textDark: $textDark;
    textHint: $textHint;

    // Text Dark Colors
    textDarkPrimary: $textDarkPrimary;
    textDarkSecondary: $textDarkSecondary;
    textDarkDark: $textDarkDark;
    textDarkHint: $texDarkHint;

    // Background Color
    backgound: $backgound;
    backgoundDark: $backgoundDark;

    // Paper Color
    paper: $paper;
    paperDark: $paperDark;
    menuHover: $menuHover;
}
